.padding--none{ padding: 0; }

.padding-vert-xxs{
    padding-top: 2px;
    padding-bottom: 2px;
}

.padding-vert-xs{
    padding-top: 5px;
    padding-bottom: 5px;
}

.padding-vert-sm{
    padding-top: 10px;
    padding-bottom: 10px;
}

.padding-vert-md{
    padding-top: 15px;
    padding-bottom: 15px;
}

.padding-vert-lg{
    padding-top: 20px;
    padding-bottom: 20px;
}

.padding-vert-xl{
    padding-top: 25px;
    padding-bottom: 25px;
}

.padding-horiz-xxs{
    padding-left: 2px;
    padding-right: 2px;
}

.padding-horiz-xs{
    padding-left: 5px;
    padding-right: 5px;
}

.padding-horiz-sm{
    padding-left: 10px;
    padding-right: 10px;
}

.padding-horiz-md{
    padding-left: 15px;
    padding-right: 15px;
}

.padding-horiz-lg{
    padding-left: 20px;
    padding-right: 20px;
}

.padding-horiz-xl{
    padding-left: 25px;
    padding-right: 25px;
}

.padding-xxs{
    padding: 2px;
}

.padding-xs{
    padding: 5px;
}

.padding-sm{
    padding: 10px;
}

.padding-md{
    padding: 15px;
}

.padding-lg{
    padding: 20px;
}

.padding-xl{
    padding: 25px;
}