.overflow--hidden{
    overflow: hidden;
  }
  
  .overflow--scroll{
    overflow-x: hidden;
    overflow-y: scroll;
  }
  
  .show--true{
    display: inline-block;
  }
  
  .show--false{
    display: none;
  }